@use './variables' as badge-variables;
@use '../../utilities/utils-variables';
@use '../../utilities/utils-mixin';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .badge {
    @apply inline-block;
    z-index: 9999;
    line-height: 1;
  }
  
  .btn {
    .badge-overlay-top-right .badge__content-badge {
      @apply top-[-8px] right-[-6px];
      // left: calc(100% - 12px);
      // bottom: calc(100% - 9px);
    }

    .badge-dot.badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 6px);
      bottom: calc(100% - 5px);
    }
  }

  .btn-icon {
    &.btn-sm .badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 13px);
      bottom: calc(100% - 12px);
    }

    .badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 17px);
      bottom: calc(100% - 14px);
    }

    &.btn-sm .badge-dot.badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 12px);
      bottom: calc(100% - 9px);
    }

    &.btn-lg .badge-dot.badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 19px);
      bottom: calc(100% - 13px);
    }

    .badge-dot.badge-overlay-top-right .badge__content-badge {
      left: calc(100% - 13px);
      bottom: calc(100% - 10px);
    }
  }

  .badge__content {
    @apply flex;
  }

  .badge-inline .badge__content-badge {
    @apply relative;
  }

  .badge-dot .badge__content-badge {
    @apply p-0 h-[9px] rounded-full min-w-0 w-[9px];
  }

  .badge-rounded .badge__content-badge {
    @apply rounded-full;
  }

  .badge__content-badge {
      @apply rounded-sm
      absolute
      flex
      text-[.7rem]
      font-semibold
      pointer-events-auto
      items-center 
      h-4 min-w-[1rem] 
      justify-center 
      px-[4px] py-[6px];
  }
}

@each $color in utils-variables.$colors {
  .badge-#{$color} {
    @include utils-mixin.get-color($color);
  }
}
