// Sass Variables
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

$colors: 'primary', 'secondary', 'info', 'warning', 'danger', 'success', 'plain';
$variants: 'solid', 'outline', 'text';
$sizes: 'sm', 'md', 'lg';

