@use '../../utilities/utils-variables';
@use '../../utilities/utils-mixin';
@use '../Button/mixin' as btn-mixins;
@use '../../utilities/utils-functions';
@use './variables' as btn-variables;
@use 'sass:map';
@tailwind base;
@tailwind components;
@tailwind utilities;

.vz-btn {
  // * Base class * /
  @apply relative 
    rounded-[5px] 
    font-semibold 
    tracking-wide
    transition duration-100 ease-out hover:ease-in;
    @include utils-mixin.get-grid-append-prepend-setup;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &:focus {
    @apply bg-red-700;
  }

  // * Size variants * /
  &.vz-btn--sm {
    @include btn-mixins.get-button-size(btn-variables.$button-sizes,'sm');
  };
  &.vz-btn--md {
    @include btn-mixins.get-button-size(btn-variables.$button-sizes,'md');
  };
  &.vz-btn--lg {
    @include btn-mixins.get-button-size(btn-variables.$button-sizes,'lg');
  };

  &.vz-btn--loading {
    @apply cursor-not-allowed;
  
    .vz-btn__content,
    .vz-btn__prepend,
    .vz-btn__append {
      @apply opacity-0;
    }
  }

  &.vz-btn--block {
    @apply block w-full;
  }

  // * Elements * /
  &__loader {
    @include utils-mixin.get-loader;
    font-size: (utils-variables.$icon-multiplier * 1.5em);
  }
  &__prepend {
    @include utils-mixin.get-grid-template('prepend');
    @apply flex mr-[.2em] transition-all duration-150 ease-out;

    .vz-btn__prepend-icon {
      font-size: (utils-variables.$icon-multiplier * 1.5em);
    };
  }
  &__content {
    @include utils-mixin.get-grid-template('content');
    @apply flex items-center gap-1 justify-center transition-all duration-150 ease-out;
  }
  &__append {
    @include utils-mixin.get-grid-template('append');
    @apply flex ml-[.2em] transition-all duration-150 ease-out;

    .vz-btn__append-icon {
      font-size: (utils-variables.$icon-multiplier * 1.5em);
    };
  }

  /** 
  * * Color and type variants
  * * The type variant has unique style respective to the color
  */
  @each $color in utils-variables.$colors {
    // * Color variants * /
    &.vz-btn--#{$color} {
      @include utils-mixin.get-color($color);

      // &:focus {
      //   @apply bg-red-700;
      // }
      // * Ripple color * /
      > .ripple .ripple__effect {
        @include utils-mixin.get-rgb-ripple-color($color);
      }
    }

    @each $type in btn-variables.$button-type-variants {
      // * Type variants * /
      &.vz-btn--#{$color}.vz-btn--#{$type} {
        @include utils-mixin.get-variant($type, $color);
        
        transition: .2s ease-in-out;

        &:not([disabled]):focus-visible {
          @apply ring-2 ring-offset-1 ring-offset-#{$color}-400/40 ring-#{$color}-400/50;
        }

        // * Hover state * /
        &:not([disabled]):hover {
          @include utils-mixin.get-hover-color($type, $color);
        };
      }

    }
  }
}

.vz-btn--icon {
  @apply relative flex justify-center rounded-full;

  >.ripple {
    @apply rounded-full;
  }

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .vz-btn__content {
    @apply flex justify-center transition-all duration-150 ease-out;
  }

  &.vz-btn--sm {
    @include btn-mixins.get-button-size(btn-variables.$button-icon-sizes, 'sm');
  }

  &.vz-btn--md {
    @include btn-mixins.get-button-size(btn-variables.$button-icon-sizes, 'md');
  }

  &.vz-btn--lg {
    @include btn-mixins.get-button-size(btn-variables.$button-icon-sizes, 'lg');
  }

  &.vz-btn--loading {
    @apply cursor-not-allowed;

    .vz-btn__content,
    .vz-btn__prepend,
    .vz-btn__append {
      @apply opacity-0;
    }
  }
}

@for $i from 1 through 5 {
  .vz-btn--solid.elevation-#{$i} {
    @apply shadow-elevation-#{$i};
    // &:focus {
    //   @apply bg-slate-600;
    // }
  };
};

