@use '../../utilities/utils-variables';
@use '../../utilities/utils-mixin';
@use '../Button/mixin' as btn-mixins;
@use '../../utilities/utils-functions';
@use 'sass:map';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply relative 
      rounded-[5px] 
      font-semibold 
      tracking-wide
      transition duration-100 ease-out hover:ease-in;

    display: grid;
    flex: none;
    grid-template-areas: "prepend content append";
    grid-template-columns: max-content auto max-content;

    &__loader {
      @apply animate-spin transition-all duration-150 ease-out;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      
    }

    &__prepend {
      @apply self-center transition-all duration-150 ease-out;
      margin-right: .2em;
      display: flex;
      grid-area: prepend;
      > * {
        @apply inline-block align-middle;
      }
    }

    &__content {
      grid-area: content;
      @apply self-center transition-all duration-150 ease-out;
    }

    &__append {
      @apply self-center transition-all duration-150 ease-out;
      margin-left: .2em;
      display: flex;
      grid-area: append;
      > * {
        @apply inline-block align-middle;
      }
    }

    a {
      @apply tracking-wide text-[14px];
    }

    &.btn-sm {
      @include btn-mixins.get-button-size('sm');
    }

    &.btn-md {
      @include btn-mixins.get-button-size('md');
    }

    &.btn-lg {
      @include btn-mixins.get-button-size('lg');
    }

    &.btn-loading {
      @apply cursor-not-allowed;
    
      .btn__content,
      .btn__prepend,
      .btn__append {
        @apply opacity-0;
      }
    }
  }
}

@for $i from 1 through 5 {
  .btn-solid.elevation-#{$i} {
    @apply shadow-elevation-#{$i};
  };
};

.btn__prepend-icon,
.btn__append-icon,
.btn__loader {
  font-size: (0.85 * 1.5em);
}

@layer components {
  @each $color in utils-variables.$colors {
    .btn-#{$color} {
      @include utils-mixin.get-color($color);
      
      > .ripple .ripple__effect {
        @include utils-mixin.get-rgb-ripple-color($color);
      }
    }
    
    @each $variant in utils-variables.$variants {
      .btn-#{$color}.btn-#{$variant} {
        @include utils-mixin.get-variant($variant, $color);

        &:not([disabled]):hover {
          @include utils-mixin.get-hover-color($variant, $color);
        };
      
      }
    }
  }
}

// @layer utilities {
//   @each $color in variables.$colors {
//     @if $color == 'plain' {
//       .btn-plain {
//         @include mixin.variant-plain;
//       }
//     } @else {
//       .btn-#{$color} {
//         @debug get-color($color);
//         @apply outline-none border-none dark:bg-#{$color}-500/90 bg-#{$color}-500;

//         &:not([disabled]):hover {
//           @apply bg-#{$color}-600;
//         };

//         a {
//           @apply text-light;
//         }
//       }
//     }
//   } 

//   @each $color in variables.$colors {
//     .btn-outline-#{$color} {
//       @apply bg-none border-[2px] p-[10px] dark:border-#{$color}-400/40 border-#{$color}-500;

//       &:not([disabled]):hover {
//         @if $color == 'secondary' {
//           @apply hover:bg-#{$color}-200 dark:hover:bg-#{$color}-700/50;
//         } @else {
//           @apply hover:bg-#{$color}-100 dark:hover:bg-#{$color}-500/10;
//         }
//       }

//       a {
//         @apply dark:text-#{$color}-400/90 text-#{$color}-500;
//       }
//     }
//   }

//   .btn-icon-circle {
//     @apply p-[12px] rounded-full;
    
//     a > span > svg {
//       @apply m-0;
//     }

//     @each $color in variables.$colors {
//       &.btn-#{$color} {
//         &.btn-sm {
//           @apply p-[9px];
//         }

//         &.btn-lg {
//           @apply p-[14px];
//         }
//       }
//     }

//     @each $color in variables.$colors {
//       &.btn-outline-#{$color} {
//         @apply p-[10px];

//         &.btn-sm {
//           @apply p-[7px];
//         }

//         &.btn-lg {
//           @apply p-[12px];
//         }
//       }
//     }
//   }
// }

.rounded {
  @apply rounded-full;
}
