// Reset/normalize 
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   html{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      @apply bg-light;
   }

}
