@use '../utilities/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

$dropdown-menu-width: theme('spacing.96');


@layer base {
   .dropdown__menu {
      @apply absolute bg-light w-[12rem] text-sm mt-[5px] rounded-[5px] drop-shadow-[0px_1px_2px_rgba(0,0,0,0.25)] break-words transition-all duration-500 overflow-hidden max-h-0;

      &[aria-expand="true"] {
         @apply max-h-40;
      }

   }
}

@layer utilities {
   @each $variant in variables.$variants {
      .dropdown-#{$variant}, .dropdown-outline-#{$variant} {
         @apply relative;
         &.dropdown__item {
            @apply px-2 py-3;
      
            &:first-of-type{
               @apply mt-2;
            }
      
            &:last-of-type{
               @apply mb-2;
            }
      
            &:hover{
               @apply text-black overflow-hidden border-transparent border-l-[3px] bg-slate-300/20 border-#{$variant}-500;
            }
         }
      }

      .dropdown {
         .split {
            display: flex;
            gap: 1px;
            > button {
               &:first-of-type {
                  @apply rounded-e-none p-[10px] focus:ring-2;
               }
   
               &:last-of-type {
                  @apply  p-[10px] focus:ring-2 rounded-s-none;
               }
               
            }
         }
      }
      
   }
}

      
   
   

