@use '../utilities/variables';
@use "sass:map";
@tailwind base;
@tailwind components;
@tailwind utilities;

$gravities: top, bottom;
// $y-position-map: (
//    "top": (
//       "left": top-left,
//       "right": top-right,
//    ),
//    "bottom": (
//       "left": left,
//       "right": right,
//    )
// );



.toast-container {
   border: red 1px solid;
   position: absolute;
   width: 370px;
   margin:auto;

   // //top
   // top: 0;
   // left: 0;
   // right: 0;

   // //top-right
   // top: 0;
   // right: 0;

   // //top-left
   // top: 0;
   // left: 0;

   // //bottom
   // bottom: 0;
   // left: 0;
   // right: 0;
  
   // //bottom-right
   // bottom: 0;
   // right: 0;
   
   //bottom-left
   bottom: 0;
   left: 0;
}


@layer base {
   .toast {
      margin: 10px auto;
      @apply drop-shadow-md grid grid-cols-[1.3fr_6fr_0.5fr] w-full rounded-md p-[10px] overflow-hidden;

      // transform: translateX(calc(100% + 30px));
      // transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);

      // &.active {
      //    transform: translateX(0%);
      // }
      .toast__icon {
         @apply text-[32px] self-center;
      }

      .toast__body {
         @apply self-center flex flex-col;
      }
   }
   
   // @debug map.get($y-position-map,"top","right");
   @each $gravity in $gravities {
      .#{$gravity}-left {
         @apply left-0 #{$gravity}-0;
      }

      .#{$gravity}-right {
         @apply right-0 #{$gravity}-0;
      }
   }
   // .top-right {
   //    @apply top-0 right-0;
   // }
      
}

   

@layer utilities {
   @each $variant in variables.$variants {
      .toast-#{$variant} {
         @apply bg-#{$variant}-200;

         > div {
            @apply text-#{$variant}-600;
         }
      }
   }

   
}