.draggable-item.dragging {
   // opacity: 0;
  
   // border: 2px dashed red;
   // background: wheat;
   // color: black;
   // box-shadow: 0 0 10px gray;
   opacity: 0;
   border: 2px black dashed;
   
}

.handle {
   
   color: black;
}


.disable-transition {
   transition: none;
}

.draggable-item {
   cursor: grabbing;
}