@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  @apply bg-secondary-300/70;
  border-radius: 8px;
  border: 5px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
}

html[data-mode="light"] {
  @apply bg-light text-dark;
}

html[data-mode="dark"] {
  @apply bg-dark text-light;
}
