@use '../../utilities/utils-variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

.vz-textarea {
   @apply grid rounded-lg;
   grid-template-areas: 
      "control"
      "details";
   grid-template-rows: auto auto;

   &__control { 
      @apply grid border p-1 border-slate-300 dark:border-slate-400/80 rounded-lg relative transition-all duration-300;
      grid-area: control;
      grid-template-areas: "prepend field clear append";
      grid-template-columns: min-content minmax(0, 1fr) min-content min-content;
   };

   &__prepend-icon {
      grid-area: prepend;
   }

   &__append-icon {
      grid-area: append;
   }

   &__clearable {
      grid-area: clear;
      &:hover {
         @apply cursor-pointer text-dark/80 dark:text-light;
      }
   };
   
   &__field-wrapper {
      grid-area: field;
   };

   &__field {
      min-height: 44px;
      @apply w-full h-full flex;
      @apply text-sm text-dark/70 dark:text-light/70 bg-transparent p-1 border-0 border-transparent;
      
      &::placeholder {
         @apply text-slate-400 dark:text-slate-300/70;
      }

      &:placeholder-shown:not(:focus) {
         ~ .vz-textarea__label {
            @apply scale-100 p-0 -translate-y-1/2 top-1/2 bg-transparent;
         }
      }

      &:focus {
         @apply ring-0 border-transparent;
      }
   }

   &__details {
      @apply text-xs flex px-3 pt-1 text-slate-400 dark:text-slate-300/70;
      grid-area: details;
   }

   &__icon {
      @apply flex px-1 items-center text-xl text-dark/60 dark:text-light/80;
   }

   &__label {
      @apply absolute top-3 left-3 -translate-y-1/2 z-10 scale-75 origin-[0];
      @apply text-sm text-slate-400 dark:text-slate-300/70;
      @apply transition-all duration-300;
      @apply bg-transparent;
   }

   &__helper-text {
      @apply grow shrink basis-auto;
   };

   &__counter {
      @apply grow-0 shrink basis-auto;
   }

   &--disabled {
      :not(.vz-textarea__helper-text) {
         @apply cursor-not-allowed;
      }

      .vz-textarea__control {
         @apply bg-slate-200 dark:bg-slate-400/60 opacity-60;
         * * {
            @apply cursor-not-allowed;
         }
      }
   }
}

@layer utilities {
   .vz-textarea {
      @each $color in utils-variables.$colors {
         &.vz-textarea--#{$color} {
            .vz-textarea__control {
               &:has(*.vz-textarea__field:focus) {
                  @apply border ring-0 border-#{$color}-500 dark:border-#{$color}-500/90;

                  *.vz-textarea__label {
                     @apply text-#{$color}-500 dark:text-#{$color}-500/90;
                  }
               }
            }
         }
      }

      &:has(&__label) {
         .vz-textarea__field-wrapper {
            @apply pt-4;
         }
         .vz-textarea__field {
            @apply pb-0 pt-0 px-2;
            
            &::placeholder {
               @apply invisible opacity-0 transition-all ease-linear duration-100;
            }

            &:focus {
               &::placeholder {
                  @apply visible opacity-100;
               }
            }
         }
      }

      &:has(&__prepend-icon) {
         .vz-textarea__field {
            @apply px-1;
            ~.vz-textarea__label {
               @apply translate-x-[1.5rem];
            }
         }
      }
   }

}

