@tailwind base;
@tailwind components;
@tailwind utilities;

@for $i from 1 through 5 {
  .elevation-#{$i} {
    @apply shadow-elevation-#{$i};
  };
};

.card {
  @apply p-[20px] gap-[16px] dark:bg-slate-700 bg-light rounded-md  min-h-[52px];
  &__header {
    display: grid;
    gap: 1rem;
    grid-template-areas: "prepend content append";
    grid-template-columns: max-content auto max-content;

    &-prepend {
      @apply self-center text-[1.8rem];
      grid-area: prepend;
    }

    &-append {
      @apply self-center text-[1.8rem];
      grid-area: append;
    }

    &-content {
      @apply truncate;
      grid-area: content;
      
      .card__title {
        @apply text-h6 font-semibold mb-0 truncate;
      }
  
      .card__subtitle {
        @apply  dark:text-slate-400 text-slate-500 text-content-6 truncate p-0;
      }
    }
  }

  &__content {
    @apply text-content-5 mb-0;
  }

  &__action {
    @apply flex;
    > * {
      @apply mr-2
    }
  }
  
}
