@use '../../utilities/utils-functions';
@use '../../utilities/utils-mixin';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .vz-menu-item {
      @apply py-1 text-sm  px-4 relative text-gray-600 dark:text-gray-200;
         align-items: center;
         min-height: 48px;
         width: 100%;
         cursor: pointer;
         @apply gap-2;
         display: grid;

         @include utils-mixin.get-grid-append-prepend-setup;
         &:hover {
            @include utils-mixin.get-hover-color('text', 'plain');
         }

         &__prepend {
            @include utils-mixin.get-grid-template('prepend');
         }

         &__content {
            @include utils-mixin.get-grid-template('content');
         }

         &__append {
            @apply flex;
            @include utils-mixin.get-grid-template('append');
         }
   }
}

