@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-basic {
   width: 107px;
   height: 40px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   @apply font-bold;
   @apply text-center;

   a{
      line-height: 24px;
      font-size: 15px;
      @apply tracking-wide;
   }
}