@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Sigmar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button';

@layer base {
   html{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      @apply font-Montserrat;
   }
}




