// @use '../../utilities/variables';
@use '../../utilities/utils-variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

$disabled: #d9d9d9;

@layer base {
  .vz-radio {
    @apply inline-block items-center transition-all duration-300 p-1;
    &.vz-radio--disabled {
      > * {
        @apply opacity-60 cursor-not-allowed;
      }
    }
  }
  
  .vz-radio-group {
    @apply flex flex-wrap;

    &.vz-radio-group--horizontal {
      @apply flex-row;
    }

    &.vz-radio-group--vertical {
      @apply flex-col;
    }

    > label {
      @apply p-1;
      flex-basis: 100%;
      align-items: start;
      color: inherit;
      display: inline-flex;
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}


@layer utilities {
  .vz-radio__input {
    @apply inline-block relative cursor-pointer transition-all duration-300 focus:ring-4 focus:ring-offset-0;

    @each $color in utils-variables.$colors {
      &.vz-radio--#{$color} {
        @apply text-#{$color}-500 border-#{$color}-500 focus:ring-#{$color}-500/40;

        &.vz-radio--#{$color}:not(:checked) {
          @apply dark:bg-slate-800/10 bg-light;
        }
      }
    }
  }

  .vz-radio__label {
    @apply mx-2 cursor-pointer text-sm font-medium text-gray-800 dark:text-gray-300;
  }
}
