@use '../../utilities/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

$disabled:#D9D9D9;


@layer base{
    .radio {
        @apply relative w-[17px] h-[17px] cursor-pointer;
        
        &::before{
            content: '';
            @apply w-[17px] h-[17px] absolute rounded-full  border-2 bg-light dark:bg-dark;

        }

        &::after{
            content: '';
            transform: translate(-50%,-50%);
            @apply w-[9px] h-[9px] absolute rounded-full bg-primary-500 top-1/2 left-1/2  opacity-0;
        }
        
        &:checked{
            + &:after{
                @apply opacity-100 transition-all duration-300;
            }

            + &::before{
                @apply border-primary-500  transition-all duration-300;
            }
        }

        &:focus{
            +&::before{
                @apply ring-2 ring-offset-0 ring-primary-500/50 transition-all duration-100;
            }
        }
        

        
    } 
}

@layer utilities{
    @each $variant in variables.$variants{
        .radio-#{$variant}{
            &::after{
                @apply bg-#{$variant}-500;
            }

            &:checked{
                + &::before{
                    @apply border-#{$variant}-500;
                }
            }

            &:focus{
                + &::before{
                    @apply ring-#{$variant}-500/50;
                }
            }
        }
    }
}