$chip-sizes: (
   sm: (
      "height": "h-[26px]",
      "padding": "px-2.5"
   ),
   md: (
      "height": "h-[32px]",
      "padding": "px-3",
   ),
   lg: (
      "height": "h-[38px]",
      "padding": "px-3.5",
   ),
);
